@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sirin+Stencil&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sirin+Stencil&family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
main{
    margin-bottom: 30px;
}
/* Estilo do header */
header {  
    background-color: black;
    color: white;
    padding: 45px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
header h1 {
    font-family: 'Passion One';
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
}
header > p {
    font-family: Arial, Helvetica, sans-serif;
}

/*  estilo da fonte do parágrafo */

section > p {
   font: normal normal 1.3em 'Sriracha';
   line-height: 2em;
}

section.branco {
    padding: 100px 20px;
    background-attachment: scroll;
}

section.fundo {
    padding: 100px 20px;
    background-image: url('../img/mountains.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

section.fundo > p {
    background-color: rgba(0, 0, 0, 0.349);
    color: lightgray;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    padding: 6px;
    width: 40%;
}

section.fundoB{
    padding: 100px 20px;
    background-image: url('../img/tea-time.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
}

section.fundoB > p {
    background-color: rgba(0, 0, 0, 0.349);
    color: lightgray;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    padding: 6px;
    width: 40%;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}

