@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(221, 220, 220);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: gray;
}
h1{
    text-align: center;
    padding: 10px;
}
nav{
    display: block;
}
nav > ul{
    list-style-type: none;
}
nav > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(54, 54, 54);
    color: #fff;
    border-top: 2px solid gray;
}
nav > ul > li > a:hover {
    background-color: rgb(167, 162, 162);
}
main{
    max-width: 90vw;
    background-color: #fff;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
section > h2{
    padding-bottom: 20px;
}
section > p{
    margin-bottom: 10px;
    text-align: justify;
    line-height: 1.4em;
    text-indent: 40px;
}